<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js ">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js">
  </script>
  <meta charset="utf-8">
  <title>Belt </title>
</head>

<body>

  <div id="travels" class="container-fluid form-group">
    <div id="header" class="text-right col"> <a href="{% url 'logout' %}">Log Out </a><br>

    </div>
    <div id="top bar" class="container row">
      <h2 class="text-left col"> Welcome, {{user.username}}!</h2> {% if messages %}
      <ul class="messages text-center">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }} text-success" {% endif %}>{{ message }}</p>
          {% endfor %}
      </ul>
      {% endif %}
    </div>
    <table class="table table-hover container-fluid border">
      <thead>
        <tr>
          <h3> Your Trip Schedules</h3>
          <th>Trip ID:</th>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>


        </tr>
      </thead>
      <tbody>
        <tr> {% for u in your_trips %}
          <td scope="row">{{u.id}}</td>
          <td><a href="/travels/destination/{{u.id}}">{{u.destination}}</td>
              <td>{{u.travel_date_from}}</td>
              <td>{{u.travel_date_to}}</td>


        </tr>
        {%endfor%} {% csrf_token %}

      </tbody>
    <table class="table table-hover container-fluid border">
      <thead><br><br>
        <tr>
          <h3> Other User's Travel Plans</h3>
          <th>Name:</th>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Do you want to join?</th>

        </tr>
      </thead>

      <tr> {% for u in other_trips %}
        <td scope="row">{{u.new_trip.name}}</td>
        <td><a href="/travels/destination/{{u.id}}">{{u.destination}}</td>
            <td>{{u.travel_date_from}}</td>
            <td>{{u.travel_date_to}}</td>

            <form action='process' method='post'>
              <td><a href="/travels/destination/{{u.id}}/join" onclick="return confirm('Confirming you want to attend?')">Join</a></td>
        </tr>
        {%endfor%} {% csrf_token %}
    </table>

    <div id="footer">
      <a href="{% url 'add_travel'%}">Add Travel Plan</a>
    </div>



  </div>
</body>

</html>
